TDX_CLIENT_ID=
TDX_CLIENT_SECRET=
TDX_CITY=Taichung

GCP_PROJECT_ID=
GCS_BUCKET=
BQ_RAW_DATASET=youbike_raw
BQ_DBT_DATASET=youbike
BQ_LOCATION=asia-east1
GOOGLE_APPLICATION_CREDENTIALS=./secrets/gcp-sa.json

POSTGRES_PASSWORD=
AIRFLOW_JWT_SECRET=
GRAFANA_ADMIN_PASSWORD=
GRAFANA_DB_PASSWORD=

SNAPSHOT_GCS_URI=
